
<div class="content" role="main">



  <!-- Resources -->
  <h2>Login</h2>
  <p>Choose the desired login: </p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="TODO">
   
      <span>Anonymous User</span>

    </a>
    <a class="card" target="_blank" rel="noopener" href="TODO">
      
      <span>Authenticated User</span>
	 </a>


    <a class="card" target="_blank" rel="noopener" href="TODO">
     
      <span>Admin</span>

    </a>

  </div>


</div>

 <button (click)="ping()"> Ping backend </button> 
 
 <div> Message of the backend: {{s}} </div>

