<h1>Movie explorer page:</h1>


<table mat-table [dataSource]="movieTableDS" class="mat-elevation-z8" style="width:80%">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID: </th>
    <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title:  </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let element"> {{element.mainGenre}} </td>
  </ng-container>

  <ng-container matColumnDef="voteStats">
    <th mat-header-cell *matHeaderCellDef> Vote Stats </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} ({{element.nbOfVotes}}) </td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element">  <a [routerLink]="['/movie/detail', element.movieId]"> Explore </a></td>
  </ng-container>

  <ng-container matColumnDef="imagee">
    <th mat-header-cell *matHeaderCellDef> Image: </th>
    <td mat-cell *matCellDef="let element">  x </td>
  </ng-container>
    
      <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image: </th>
    <td mat-cell *matCellDef="let element">  <img src={{element.imageUrl}} height="200"  /> </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


